:root {
  /* Colours */
  --color-bg: #293415; /* page background /*

  /* Header */
  --color-head-bg: #405123;

  /* Logotype */
  --color-logotype-bg: #1f1f1f;
  --color-text-logotype: #c75000;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #556b2f;
  /* Links */
  --color-link-bg: #c75000;
  --color-link-hover: #a94400; /* used */
  --color-link-active: #7b3200; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #c75000;
  --color-headline-text-page: #eaeaea;

  /* Tekst */
  --color-text: #1f1f1f;
  --color-text-inverted: #eaeaea;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #eaeaea;
  --color-cta-card-bg: #556b2f;
  /* news-cards */
  --color-news-bg: #eaeaea;
  --color-news-bg-inverted: #c75000;
  --color-cta-newscard-bg: #556b2f;
  --color-cta-newscard-bg-inverted: #7b3200;

  /* Fonts */
  --font-family-sans: "Inter", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #eaeaea;
  --color-infobox-1-bg: #556b2f;
  --color-infobox-2-bg: #405123;
}

.display_none {
  display: none;
}
