:root {
  /* Colours */
  --color-bg: #1f1f1f; /* page background /*

  /* Header */
  --color-head-bg: #3e3e3e;

  /* Logotype */
  --color-logotype-bg: #c75000;
  --color-text-logotype: #eaeaea;
  --font-logotype-size: 2.2rem;

  /* Global menu */
  --color-menu-bg: #7b3200;
  /* Links */
  --color-link-bg: #c75000;
  --color-link-hover: #a94400; /* used */
  --color-link-active: #7b3200; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 2.5rem;
  --font-sub1-size: 1.3rem;
  --font-h2-size: 24px;
  --font-h3-size: 24px;
  --color-headline-bg: #c75000;
  --color-headline-text-page: #eaeaea;

  /* Tekst */
  --color-text: #eaeaea;
  --color-text-inverted: #eaeaea;

  /*  Marginer */
  --margin-head-bottom: 50px;

  /* Borders */
  --border-radius: 10px;

  /* Cards */
  --color-card-bg: #616161;
  --color-cta-card-bg: #768f4b;

  /* news-cards */
  --color-news-bg: #616161;
  --color-news-bg-inverted: #3e3e3e;
  --color-cta-newscard-bg: #c75000;
  --color-cta-newscard-bg-inverted: #768f4b;

  /* Fonts */
  --font-family-sans: "Inter", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 40px;
  --headline1-size: 24px;
  --headline2-size: 24px;
  --headline3-size: 24px;
  --bodytext-size: 20px;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #768f4b;
  --color-infobox-1-bg: #c75000;
  --color-infobox-2-bg: #c75000;

  /* Forms */
  --form-background-color: #768f4b;
  --info-background-color: #c75000;
}

.display_none {
  display: none;
}
