html {
  color-scheme: light;
  /* Colours */
  --color-bg: light-dark(#c0caad, #1f1f1f); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#405123, #3e3e3e);

  /* Logotype */
  --color-logotype-bg: light-dark(#1f1f1f, #c75000);
  --color-text-logotype: light-dark(#c75000, #eaeaea);
  --font-logotype-size: 2.2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#556b2f, #7b3200);
  /* Links */
  --color-link-bg: #c75000;
  --color-link-hover: #a94400; /* used */
  --color-link-active: #7b3200; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 2.5rem;
  --font-sub1-size: 1.3rem;
  --font-h2-size: 24px;
  --font-h3-size: 24px;
  --color-headline-bg: #c75000;
  --color-headline-text-page: #eaeaea;

  /* Tekst */
  --color-text: light-dark(#1f1f1f, #eaeaea);
  --color-text-inverted: #eaeaea;

  /*  Marginer */
  --margin-head-bottom: 50px;

  /* Borders */
  --border-radius: 10px;

  /* Cards */
  --color-card-bg: light-dark(#768f4b, #616161);
  --color-cta-card-bg: light-dark(#a94400, #768f4b);

  /* news-cards */
  --color-news-bg: light-dark(#556b2f, #616161);
  --color-news-bg-inverted: light-dark(#768f4b, #3e3e3e);
  --color-cta-newscard-bg: #a94400;
  --color-cta-newscard-bg-inverted: #a94400;

  /* Fonts */
  --font-family-sans: "Inter", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 40px;
  --headline1-size: 24px;
  --headline2-size: 24px;
  --headline3-size: 24px;
  --bodytext-size: 20px;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#768f4b, #616161);
  --color-infobox-1-bg: #c75000;
  --color-infobox-2-bg: #c75000;

  /* Forms */
  --form-background-color: light-dark(#768f4b, #616161);
  --info-background-color: #c75000;
  --color-input-bg: light-dark(#95a27d, #3e3e3e);
  --color-label: light-dark(#1f1f1f, #eaeaea);
  --input-border-color: light-dark(#556b2f, #1f1f1f);
  --focus-outline-color: light-dark(#405123, #eaeaea);
  --form-invalid: light-dark(#a94400, #c75000);
  --color-placeholder: light-dark(#768f4b, #616161);
  --submit-hover: light-dark(#eaeaea, #1f1f1f);

  /* Popover */
  --color-popover-bg: light-dark(#c0caad, #3e3e3e);
}

html.dark {
  color-scheme: dark;
}

.display_none {
  display: none;
}
