#webform {
  display: grid;
  background-color: var(--form-background-color);
  border-radius: 15px;
  padding: 20px 30px;
  margin: 30px 0px;
}
label {
  font-weight: 700;
  font-size: 18px;
  margin-top: 5px;
  color: #1f1f1f;
}
input {
  background-color: #556b2f;
  border: solid 2px #556b2f;
  color: #eaeaea;
  font-size: 18px;
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
select {
  background-color: #eaeaea;
  border: solid 2px #556b2f;
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
textarea {
  background-color: #eaeaea;
  border: solid 2px #556b2f;
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 20px;
}
#submit-btn {
  background-color: #556b2f;
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #eaeaea;
}
#submit-btn:hover {
  background-color: #405123;
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
