#form-section {
  background-color: var(--form-background-color);
  border-radius: 15px;
  padding: 20px 40px;
  margin: 0 10px;
}
#form-section h2 {
  padding-top: 15px;
  padding-bottom: 5px;
}

#form-info {
  text-align: center;
}

#webform {
  display: grid;
}
label {
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
  color: #1f1f1f;
}
input {
  background-color: var(--color-input-bg);
  border: solid 2px var(--input-border-color);
  color: var(--color-text);
  font-size: 18px;
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
select {
  background-color: var(--color-input-bg);
  border: solid 2px var(--input-border-color);
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
textarea {
  background-color: var(--color-input-bg);
  border: solid 2px var(--input-border-color);
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
:focus-visible {
  outline: solid 2px var(--focus-outline-color);
}
#submit-btn {
  background-color: var(--input-border-color);
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
  color: #eaeaea;
}
#submit-btn:hover {
  background-color: var(--focus-outline-color);
}

#form-summary {
  background-color: var(--info-background-color);
  padding: 10px 15px;
  margin-top: 0;
  margin-bottom: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 15px;
  padding-bottom: 10px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}

.error-text {
  display: none;
}

.form-group {
  display: grid;
}

.form-group:has(:required) {
  label::after {
    content: " *";
    color: #c75000;
  }
}

.form-group:has(:user-invalid) {
  .error-text {
    display: block;
    color: #a94400;
  }
  textarea,
  select,
  input {
    outline: 2px solid #a94400;
  }
}

::placeholder {
  color: #768f4b;
}

#submit-besked {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
  margin: 20px 30px;
}
.grid_2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
